---
layout: default
---

<div class="panel panel-success">
	<div class="panel-heading">
		<h2 align="center">{{ page.name }}</h2>
	</div>
	<div class="panel-body">
		<div class="container">
            <div class="row">		
                <div class="col-md-6 ">
                    <p>{{ <page class="summary"></page> }}</p>
                </div>
                <div class="col-md-6 ">
                    <div class="thumbnail">
                        <img src="{{page.map}}" style="width: 240px;height: 300px;">
                        <h3>经典透明款</h3>
                        <p>晶莹剔透，简约百搭，适合各种饮料，是您居家生活必备的良品。</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>